body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 35px;
    background-color: #f2a1f6; /* Color de fondo gris claro */
}

.form-container {
    background: white;
    padding: 75px;
    border-radius: 67px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 100px;
}

.resultado {
    margin-top: 35px;
    font-size: 20px;
}
